body{
    margin: 0%;
}

#portfolio{
    color: #06080A;
    font-size: 8vmin;
}

#nome{
    color: #A4A4A4;
    font-size: 7vmin;
}

.heading2{
    color: gray;
    font-size: 20px;
}

.gradient {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;

      background: linear-gradient(45deg, #084177, #687466, #cd8d7b, #fbc490);
      background-size: 300% 300%;
      animation: colors 15s ease infinite;
    }


    @keyframes colors {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }



*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

#box{
    background: white;
    opacity: 0.90;
    box-shadow: 0 0 0 0.25 0.25;
    margin: 25vmin;
    padding: 5vmin;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
}

@media only screen and (max-width: 600px), (min-width: 600px)
{
    #box img{
        width: 100%;
        height: 100%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #box img{
        width: 200px;
        height: 250px;
    }
    iframe{
        width: 500px;
        height: 315px;
    }
} 
